@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    /* background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    @apply mx-auto my-0 h-full w-fit text-center sm:w-full;
}

body,
html {
    @apply m-0 h-full w-full overflow-x-auto sm:overflow-x-clip;
}

/** DEFAULT ELEMENTS **/

h1,
h3 {
    @apply font-bold;
}

h1 {
    @apply text-3xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-4xl font-semibold leading-10 text-opacity-[0.87];
}

input,
select,
textarea {
    @apply w-full rounded-[10px] border border-[#C2C2C2] bg-white px-[15px] py-[8px] text-sm font-medium  text-[#999999];
}

table {
    @apply bg-dark-gradient mx-auto  border-collapse rounded-md text-alternative-text;
}

tbody {
    @apply bg-white text-primary;
}

th {
    @apply px-6 py-3;
}

td {
    @apply border-2 border-primary px-6 py-3;
}

thead.multi-rows th {
    @apply border border-secondary;
}

/** CUSTOM ELEMENTS **/

span.error-message {
    @apply block px-2 text-left text-sm text-rose-500;
}

/** BACKGROUNDS, COLORS AND GRADIENTS **/

.bg-dark-gradient {
    @apply bg-gradient-to-br from-[#5300B8] to-[#7F35E1];
}

.bg-light-gradient {
    @apply bg-gradient-to-b from-[#A256FF] to-[#CCA2FF];
}

/** BUTTONS **/

.button-default {
    @apply rounded-[8px] p-3 font-medium;
}

.button-primary {
    @apply button-default bg-primary text-white hover:bg-primary-light;
}

.button-secondary {
    @apply button-default bg-secondary text-white hover:bg-primary-light;
}

.button-neutral-light {
    @apply button-default bg-neutral-light text-[#272727] hover:bg-slate-300;
}

.button-neutral-dark {
    @apply button-default bg-neutral-dark text-white hover:bg-slate-600;
}

/** TYPOGRAPHY */

.subtitle-2 {
    @apply text-sm font-medium leading-4 text-opacity-[0.87];
}

.caption {
    @apply text-xs font-normal leading-3 text-opacity-60;
}
